[Unit]
Description=SailTrack-LoRa2MQTT

[Service]
Restart=on-failure
ExecStart=/boot/sailtrack/sailtrack-lora2mqtt

[Install]
WantedBy=multi-user.target
